<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="homeBackground">
    <img src="/images/squid_green.png" class="greenSquidsmall">
    <img src="/images/squid_pink.png" class="pinkSquidsmall">

  <nav class="navbar navbar-default" role="navigation">
  <div class="navbar">
    <ul class="nav navbar-nav navElements">
      <a href="/main"><img src="/images/squid_home.png" class="navImg"></a>
      <p align = "center">Welcome <%= username %>!</p>
      <li class="active"><a href="/main">Home</a></li>
      <li><a href="/account">Account</a></li>
      <li><a href="/myquestions">My Questions</a></li>
      <li><a href="/myanswers">My Answers</a></li>
      <li><a href="/askquestion">Ask a Question</a></li>
      <li><a href="/user/logout">Logout</a></li>
    </ul>
  </div>
</nav>
  <div class = "main">
      <ul class = "qList">
        <li><img src="/images/squid_repliance_ice.png" class = "iceSquid"></li>
        <%
        for(var i = 0; i < data.rows.length; i++){
        %>
        <li class= "questionList">
          <p class = "myQTitle"><%= data.rows[i].title %> </p>
          <p class = "myQ"><%=  data.rows[i].bodytext %> </p><br>
          <p class = "myQ"><strong># of Replies: </strong><%= data.rows[i].repliestotal %> </p>
          <p class = "myQ"><strong>Max Replies: </strong><%= data.rows[i].replieslimit %> </p>
          <a href="/reply?qid=<%=data.rows[i].qid%>" class="btn btn-default" role="b­utt­on">Reply</a>

        </li>

<%
   }
%>
      </ul>
    </div>
  </body>
</html>
