<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'/>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
</head>
<body class="homeBackground">

  <img src="/images/squid_green.png" class="greenSquidsmall">
  <img src="/images/squid_pink.png" class="pinkSquidsmall">

  <nav class="navbar navbar-default" role="navigation">
  <div class="navbar">
    <ul class="nav navbar-nav navElements">
      <a href="/main"><img src="/images/squid_home.png" class="navImg"></a>
      <p align = "center">Welcome <%= username %>!</p>
      <li class="active"><a href="/main">Home</a></li>
      <li><a href="/account">Account</a></li>
      <li><a href="/myquestions">My Questions</a></li>
      <li><a href="/myanswers">My Answers</a></li>
      <li><a href="/askquestion">Ask a Question</a></li>
      <li><a href="/user/logout">Logout</a></li>
    </ul>
  </div>
</nav>
  <div class = "main">
    <ul class = "qList">
      <li><img src="/images/squid_repliance_ice.png" class = "iceSquid"></li>
      <%
      for(var i = 0; i < data.rows.length; i++){
        %>
        <li>
          <div class="qlistel">
          <div class="container">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">
                              <p class = "myQTitle"><%= data.rows[i].title %> </p>
                              <p class = "myQ"><%=  data.rows[i].bodytext %> </p><br>
                              <p class = "myQ"><strong># of Replies: </strong><%= data.rows[i].repliestotal %> </p>
                              <p class = "myQ"><strong>Max Replies: </strong><%= data.rows[i].replieslimit %> </p>
                            <span class="pull-right clickable"><a href='#' class="btn btn-default" role="b­utt­on">Reply</a></span>
                        </div>
                      </div>
                        <div class="panel-body">
                          <form  id="replyform" method="post" action="/reply/reply" >
                            <textarea class="qText" name="aText" maxlength="1500" placeholder= "Add Your Answer"></textarea> <br>
                            <br>
                            <input type="hidden" name="qid" value="<%=data.rows[i].qid%>">
                            <input type="submit" class="btn btn-default" value="Post Reply">
                          </form>
                        </div>
                    </div>
          </div>
        </div>
        </li>
        <%
      }
      %>
    </ul>
  </div>


  <script>
  $(document).on('click', '.panel-heading span.clickable', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
$(document).on('click', '.panel div.clickable', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});
$(document).ready(function () {
    $('.panel-heading span.clickable').click();
    $('.panel div.clickable').click();
});
  </script>
</body>
</html>
