<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div><%= message %></div><br>

    <p>username: <%= username %></p>
    <p>password: <%= password %></p>

    <div class="navbar">
      <ul class="navElements">
        <a href="/main"><img src="/images/squid_home.png"></a>
        <li><a href="/user/logout">Logout</a></li>
        <li><a href="/user/account">Account</a><li>
        <li><a href="/user/myquestions">My Questions</a><li>
        <li><a href="/user/myanswers">My Answers</a><li>
        <li><a href="/user/askquestion">Ask Question</a><li>
      </ul>
    </div>

  </body>
</html>